.container{
    background-color: rgb(64, 69, 87);
    color:white;
    padding-bottom:5rem;
    padding-top:3rem;
    padding-left:3rem;
    padding-right:3rem;
    border-radius: 10pt;
    height:80vh;
   

}
.validationError{
    height:3rem;
    padding-top:20px;
    text-align:center;
    color:rgb(245, 158, 158);

}
.input-group-text{
    width:2.5rem;
}
.dates{
    display:flex;
    justify-content: space-around;
}
.form-control{
    text-align: center;
}
span{
    width:33%;
    text-align:center;
}