.container{
    background-color: rgb(180, 223, 204);
    color:black;
    padding-bottom:5rem;
    padding-top:3rem;
    padding-left:3rem;
    padding-right:3rem;
    border-radius: 10pt;
   

}
.validationError{
    height:3rem;
    padding-top:20px;
    text-align:center;
    color:rgb(197, 47, 47);
    font-weight:bold;
}
.input-group-text{
    width:2.5rem;
}